.h2 {
    padding-top: 40px;
    text-align: center;
}
.maincontainer {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    padding-top: 35px;
    padding-bottom: 110px;
    padding-left: 0%;
    padding-right: 0%;
}

.mobilelen {
    padding-left: 0%;
    padding-right: 0%;
}

.slickbuttoncontainer {
    padding-top:20px;
    padding-bottom: 20px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 4px 60px rgba(162,162,162,.25);
    border-radius: 5px;
}
.slickcontainer {
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.slide{
    display: inline-block;
    height: auto;
}

.picture {
    padding-bottom: 40px;
}
.text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    color: #050c33;
    padding-bottom: 15px;
}
.sign {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #838b9c;
    padding-bottom: 15px;
}
.buttonsblock {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:15px;
    padding-right: 15px;
}
.buttons button{
    text-decoration: none;
    color: black;
}
.buttons button:hover{
    color: black;
    text-decoration: none;
}
.buttons {
    display: inline-flex;
}
.pages{
    margin-left: 45px;
    margin-right: 45px;
    font-size: 28px;
    display: inline-flex;
}
.pagesn{
    color: #e0e0e0;
}
@media (min-width: 992px) {
    .slickbuttoncontainer {
        display: inline-flex;
        padding-left: 70px;
        padding-top:65px;
        padding-bottom: 65px;
    }
    .center {
        height: 45%;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    .buttonsblock {
        padding-top: 0px;
        height: 60%;
        border-top: none;
        border-left: 1px solid rgba(0,0,0,.1);
    }
    .buttons {

    }
}
<<<<<<< HEAD
=======
@media (min-width: 720px) {
    .mobilelen {
        padding-left: 15px;
        padding-right: 15px;
    }

}
>>>>>>> c1d1433d7d55732864d723916ba7ed7010da9ed6
