.third_screen {
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    background-color: white;
    padding-bottom: 100px;
    padding-top: 100px;
}

.third_screen_wrapper {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.title {
  color: #050c33;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.cards_wrapper{
  margin-right: 5px;
}

.card {
  height: 300px;
  margin-bottom: 10px;
  margin-right: -20px;
  box-shadow: 20px 20px 40px rgba(5,12,51,.05);
  border: none;
}

.card_number {
  font-size: 12px;
  font-weight: bold;
  color: #828a9b;
}

.card_title {
  font-weight: bold;
  color: #050c33;
  font-size: 18px;
}
.card_text {
  font-weight: 500;
  font-size: 16px;
}




@media screen and (max-device-width: 767px) {
  .title {
    font-size: 23px;
  }
  .card {
    width: 400px;
  }
  .cards_wrapper{
  }

}
